body {
  background-color: #F5F5F1;
  margin: 0;
  width: 100%; }

header {
  width: 100%;
  margin: 0 auto;
  padding: 14px 0 40px 0; }

#topbox {
  width: 100%;
  height: 30px;
  position: relative;
  background-color: #fff; }

body > header > div.Logo > h1 {
  font-family: "Times", sans-serif;
  font-size: 2.5em;
  color: #f56400;
  margin-top: 2px;
  font-weight: 200;
  float: left;
  margin-left: 16%;
  margin-bottom: 0;
  padding-right: 20px; }

#searchbar {
  display: inline-block;
  margin-top: 17px;
  width: 200px;
  border: 1px solid #CFCBC8;
  border-radius: 5px;
  font-size: 16px; }

#searchbar > input[type="search"] {
  width: 100%; }

#srcbtn {
  color: #fff;
  background-color: #51A6C1;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 12px;
  margin-right: 5px;
  margin-left: -5px; }

#browse {
  margin-left: 15px; }

#topbox > a:nth-child(5) {
  margin-left: 270px;
  font-size: 16px;
  color: #51A6C1; }

#signin {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #fff;
  font-size: 12px;
  color: #51A6C1;
  margin-left: 5px; }

#topbox > a:nth-child(7) {
  border-left: 1px solid #CFCBC8;
  padding: 8px;
  margin-left: 5px;
  color: #CFCBC8; }

body > main {
  width: 70%;
  position: relative;
  float: right;
  display: inline-block; }

.listing Image {
  padding-right: 15px;
  width: 45%;
  float: left; }

aside.sidebar-high {
  position: relative;
  background-color: #fff;
  overflow: auto;
  width: 20%;
  margin: 20px 0 0 80px; }

aside.sidebar-low {
  position: relative;
  background-color: #fff;
  overflow: auto;
  width: 20%;
  margin: 20px 0 0 80px; }

body > aside.sidebar-high > h4 {
  text-align: left;
  text-indent: 10px;
  font-family: "Arial";
  font-size: 13px; }

body > aside.sidebar-high > ul:nth-child(3) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px; }

body > aside.sidebar-high > ul:nth-child(4) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px; }

body > aside.sidebar-high > ul:nth-child(5) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px; }

body > aside.sidebar-high > ul:nth-child(6) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px; }

body > aside.sidebar-high > ul:nth-child(7) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px; }

body > aside.sidebar-high > ul:nth-child(8) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px; }

body > aside.sidebar-high > ul:nth-child(9) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px; }

body > aside.sidebar-high > ul:nth-child(10) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px; }

body > aside.sidebar-high > ul:nth-child(11) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px; }

body > aside.sidebar-high > ul:nth-child(12) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px; }

body > aside.sidebar-high > ul:nth-child(13) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px; }

body > aside.sidebar-high > ul:nth-child(14) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px; }

body > aside.sidebar-high > ul:nth-child(15) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px; }

body > aside.sidebar-high > ul:nth-child(16) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px; }

body > aside.sidebar-high > ul:nth-child(17) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px; }

body > aside.sidebar-high > ul:nth-child(18) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px; }
