body {
  background-color: #F5F5F1;
  margin: 0;
  width: 100%; }

header {
  width: 100%;
  margin: 0 auto;
  padding: 14px 0 40px 0; }

#topbox {
  width: 100%;
  height: 30px;
  position: relative;
  background-color: #fff; }

body > header > div.Logo > h1 {
  font-family: "Times", sans-serif;
  font-size: 2.5em;
  color: #f56400;
  margin-top: 2px;
  font-weight: 200;
  float: left;
  margin-left: 16%;
  margin-bottom: 0;
  padding-right: 20px; }

#searchbar {
  display: inline-block;
  margin-top: 17px;
  width: 200px;
  border: 1px solid #CFCBC8;
  border-radius: 5px;
  font-size: 16px; }

#searchbar > input[type="search"] {
  width: 100%; }

#srcbtn {
  color: #fff;
  background-color: #51A6C1;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 12px;
  margin-right: 5px;
  margin-left: -5px; }

#browse {
  margin-left: 15px; }

#topbox > a:nth-child(5) {
  margin-left: 270px;
  font-size: 16px;
  color: #51A6C1; }

#signin {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #fff;
  font-size: 12px;
  color: #51A6C1;
  margin-left: 5px; }

#topbox > a:nth-child(7) {
  border-left: 1px solid #CFCBC8;
  padding: 8px;
  margin-left: 5px;
  color: #CFCBC8; }

#topbox > div.top-bar > a:nth-child(4) {
  margin-left: 380px; }

body > main > h3:nth-child(1) {
  display: inline-block; }

body > main > h3:nth-child(2) {
  display: inline; }

body > main {
  width: 70%;
  position: relative;
  float: right;
  display: inline-block; }

aside.sidebar-high {
  position: relative;
  background-color: #fff;
  overflow: auto;
  width: 20%;
  margin: 20px 0 0 80px; }

aside.sidebar-low {
  position: relative;
  background-color: #fff;
  overflow: auto;
  width: 20%;
  margin: 20px 0 0 80px; }

body > aside.sidebar-high > h4 {
  text-align: left;
  text-indent: 10px;
  font-family: "Arial";
  font-size: 13px; }

body > aside.sidebar-high > ul:nth-child(3) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none; }

body > aside.sidebar-high > ul:nth-child(4) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none; }

body > aside.sidebar-high > ul:nth-child(5) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none; }

body > aside.sidebar-high > ul:nth-child(6) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none; }

body > aside.sidebar-high > ul:nth-child(7) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none; }

body > aside.sidebar-high > ul:nth-child(8) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none; }

body > aside.sidebar-high > ul:nth-child(9) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none; }

body > aside.sidebar-high > ul:nth-child(10) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none; }

body > aside.sidebar-high > ul:nth-child(11) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none; }

body > aside.sidebar-high > ul:nth-child(12) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none; }

body > aside.sidebar-high > ul:nth-child(13) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none; }

body > aside.sidebar-high > ul:nth-child(14) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none; }

body > aside.sidebar-high > ul:nth-child(15) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none; }

body > aside.sidebar-high > ul:nth-child(16) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none; }

body > aside.sidebar-high > ul:nth-child(17) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none; }

body > aside.sidebar-high > ul:nth-child(18) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none; }

body > aside.sidebar-low > h5:nth-child(1) {
  text-align: left;
  text-indent: 10px;
  font-family: "Arial";
  font-size: 13px; }

body > aside.sidebar-low > form.item-type > a:nth-child(2) {
  text-align: left;
  font-family: "Arial";
  color: #51A6C1;
  font-size: 14px;
  text-decoration: none; }

body > aside.sidebar-low > form.item-type > a:nth-child(5) {
  text-align: left;
  font-family: "Arial";
  color: #51A6C1;
  font-size: 14px;
  text-decoration: none; }

body > aside.sidebar-low > form.item-type > a:nth-child(8) {
  text-align: left;
  font-family: "Arial";
  color: #51A6C1;
  font-size: 14px;
  text-decoration: none; }

body > aside.sidebar-low > form.item-type > h5 {
  text-align: left;
  text-indent: 10px;
  font-family: "Arial";
  font-size: 13px;
  text-decoration: none; }

body > aside.sidebar-low > form.item-type > input[type="lowprice"]:nth-child(10) {
  display: inline-block;
  margin-top: 17px;
  text-align: center;
  width: 55px;
  padding: 2px;
  border: 1px solid #CFCBC8;
  font-size: 16px; }

body > aside.sidebar-low > form.item-type > input[type="highprice"]:nth-child(11) {
  display: inline-block;
  margin-top: 17px;
  width: 57px;
  padding: 2px;
  text-align: center;
  border: 1px solid #CFCBC8;
  font-size: 16px; }

body > aside.sidebar-low > form.item-type > input[type="search"]:nth-child(12) {
  display: inline-block;
  margin-top: 17px;
  width: 40px;
  text-align: center;
  padding: 2px;
  border: 1px solid #CFCBC8;
  font-size: 16px; }

body > aside.sidebar-low > h5:nth-child(3) {
  text-align: left;
  text-indent: 10px;
  font-family: "Arial";
  font-size: 13px; }

body > aside.sidebar-low > button:nth-child(4) {
  height: 22px;
  width: 22px;
  padding: 1px;
  border-radius: 3px;
  border: 1px solid black;
  margin-left: 35px; }

body > aside.sidebar-low > button:nth-child(5) {
  height: 22px;
  width: 22px;
  padding: 1px;
  border-radius: 3px;
  border: 1px solid black; }

body > aside.sidebar-low > button:nth-child(6) {
  height: 22px;
  width: 22px;
  padding: 1px;
  border-radius: 3px;
  border: 1px solid black; }

body > aside.sidebar-low > button:nth-child(7) {
  height: 22px;
  width: 22px;
  padding: 1px;
  border-radius: 3px;
  border: 1px solid black; }

body > aside.sidebar-low > button:nth-child(8) {
  height: 22px;
  width: 22px;
  padding: 1px;
  border-radius: 3px;
  border: 1px solid black; }

body > aside.sidebar-low > button:nth-child(9) {
  height: 22px;
  width: 22px;
  padding: 1px;
  border-radius: 3px;
  border: 1px solid black; }

body > aside.sidebar-low > button:nth-child(10) {
  height: 22px;
  width: 22px;
  padding: 1px;
  border-radius: 3px;
  border: 1px solid black; }

body > aside.sidebar-low > button:nth-child(11) {
  height: 22px;
  width: 22px;
  padding: 1px;
  border-radius: 3px;
  border: 1px solid black; }

body > aside.sidebar-low > h5:nth-child(12) {
  text-align: left;
  text-indent: 10px;
  font-family: "Arial";
  font-size: 13px; }

body > aside.sidebar-low > a:nth-child(14) {
  font-family: "Arial";
  font-size: 14px;
  color: #51A6C1;
  text-decoration: none; }

body > aside.sidebar-low > a:nth-child(17) {
  font-family: "Arial";
  font-size: 14px;
  color: #51A6C1;
  text-decoration: none; }

body > aside.sidebar-low > h5:nth-child(18) {
  text-align: left;
  text-indent: 10px;
  font-family: "Arial";
  font-size: 13px; }

body > aside.sidebar-low > form:nth-child(19) > a:nth-child(2) {
  font-family: "Arial";
  font-size: 14px;
  color: #51A6C1;
  text-decoration: none; }

body > aside.sidebar-low > form:nth-child(19) > a:nth-child(5) {
  font-family: "Arial";
  font-size: 14px;
  color: #51A6C1;
  text-decoration: none; }

body > aside.sidebar-low > form:nth-child(19) > a:nth-child(7) {
  font-family: "Arial";
  font-size: 14px;
  color: #51A6C1;
  text-decoration: none; }

body > aside.sidebar-low > h5:nth-child(20) {
  text-align: left;
  text-indent: 10px;
  font-family: "Arial";
  font-size: 13px; }

body > aside.sidebar-low > select {
  margin: 8px; }

body > main > h3:nth-child(2) > div {
  display: inline-block;
  float: left;
  width: 65%; }

body > main > h3:nth-child(2) > div > div:nth-child(1) {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 225px;
  line-height: 0px;
  font-size: 15px;
  background-color: white;
  margin-right: 15px;
  margin-bottom: 15px; }
  body > main > h3:nth-child(2) > div > div:nth-child(1) img {
    width: 225px;
    height: 172px; }

body > main > h3:nth-child(2) > div > div:nth-child(1) > div > p {
  display: inline-block;
  margin-left: 45px;
  color: #76C238;
  font-weight: 300; }

body > main > h3:nth-child(2) > div > div:nth-child(1) > div > a {
  color: #b2b2b2;
  text-decoration: none;
  font-size: 14px; }

body > main > h3:nth-child(2) > div > div:nth-child(2) {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 225px;
  line-height: 0px;
  font-size: 15px;
  background-color: white;
  margin-right: 15px;
  margin-bottom: 15px; }
  body > main > h3:nth-child(2) > div > div:nth-child(2) img {
    width: 225px;
    height: 172px; }

body > main > h3:nth-child(2) > div > div:nth-child(2) > div > p {
  display: inline-block;
  margin-left: 45px;
  color: #76C238;
  font-weight: 300; }

body > main > h3:nth-child(2) > div > div:nth-child(2) > div > a {
  color: #b2b2b2;
  text-decoration: none;
  font-size: 14px; }

body > main > h3:nth-child(2) > div > div:nth-child(3) {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 225px;
  line-height: 0px;
  font-size: 15px;
  background-color: white;
  margin-right: 15px;
  margin-bottom: 15px; }
  body > main > h3:nth-child(2) > div > div:nth-child(3) img {
    width: 225px;
    height: 172px; }

body > main > h3:nth-child(2) > div > div:nth-child(3) > div > p {
  display: inline-block;
  margin-left: 45px;
  color: #76C238;
  font-weight: 300; }

body > main > h3:nth-child(2) > div > div:nth-child(3) > div > a {
  color: #b2b2b2;
  text-decoration: none;
  font-size: 14px; }

body > main > h3:nth-child(2) > div > div:nth-child(4) {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 225px;
  line-height: 0px;
  font-size: 15px;
  background-color: white;
  margin-right: 15px;
  margin-bottom: 15px; }
  body > main > h3:nth-child(2) > div > div:nth-child(4) img {
    width: 225px;
    height: 172px; }

body > main > h3:nth-child(2) > div > div:nth-child(4) > div > p {
  display: inline-block;
  margin-left: 45px;
  color: #76C238;
  font-weight: 300; }

body > main > h3:nth-child(2) > div > div:nth-child(4) > div > a {
  color: #b2b2b2;
  text-decoration: none;
  font-size: 14px; }

body > main > h3:nth-child(2) > div > div:nth-child(5) {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 225px;
  line-height: 0px;
  font-size: 15px;
  background-color: white;
  margin-right: 15px;
  margin-bottom: 15px; }
  body > main > h3:nth-child(2) > div > div:nth-child(5) img {
    width: 225px;
    height: 172px; }

body > main > h3:nth-child(2) > div > div:nth-child(5) > div > p {
  display: inline-block;
  margin-left: 45px;
  color: #76C238;
  font-weight: 300; }

body > main > h3:nth-child(2) > div > div:nth-child(5) > div > a {
  color: #b2b2b2;
  text-decoration: none;
  font-size: 14px; }

body > main > h3:nth-child(2) > div > div:nth-child(6) {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 225px;
  line-height: 0px;
  font-size: 15px;
  background-color: white;
  margin-right: 15px;
  margin-bottom: 15px; }
  body > main > h3:nth-child(2) > div > div:nth-child(6) img {
    width: 225px;
    height: 172px; }

body > main > h3:nth-child(2) > div > div:nth-child(6) > div > p {
  display: inline-block;
  margin-left: 45px;
  color: #76C238;
  font-weight: 300; }

body > main > h3:nth-child(2) > div > div:nth-child(6) > div > a {
  color: #b2b2b2;
  text-decoration: none;
  font-size: 14px; }

body > main > h3:nth-child(2) > div > div:nth-child(7) {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 225px;
  line-height: 0px;
  font-size: 15px;
  background-color: white;
  margin-right: 15px;
  margin-bottom: 15px; }
  body > main > h3:nth-child(2) > div > div:nth-child(7) img {
    width: 225px;
    height: 172px; }

body > main > h3:nth-child(2) > div > div:nth-child(7) > div > p {
  display: inline-block;
  margin-left: 45px;
  color: #76C238;
  font-weight: 300; }

body > main > h3:nth-child(2) > div > div:nth-child(7) > div > a {
  color: #b2b2b2;
  text-decoration: none;
  font-size: 14px; }

body > main > h3:nth-child(2) > div > div:nth-child(8) {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 225px;
  line-height: 0px;
  font-size: 15px;
  background-color: white;
  margin-right: 15px;
  margin-bottom: 15px; }
  body > main > h3:nth-child(2) > div > div:nth-child(8) img {
    width: 225px;
    height: 172px; }

body > main > h3:nth-child(2) > div > div:nth-child(8) > div > p {
  display: inline-block;
  margin-left: 45px;
  color: #76C238;
  font-weight: 300; }

body > main > h3:nth-child(2) > div > div:nth-child(8) > div > a {
  color: #b2b2b2;
  text-decoration: none;
  font-size: 14px; }

body > main > h3:nth-child(2) > div > div:nth-child(9) {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 225px;
  line-height: 0px;
  font-size: 15px;
  background-color: white;
  margin-right: 15px;
  margin-bottom: 15px; }
  body > main > h3:nth-child(2) > div > div:nth-child(9) img {
    width: 225px;
    height: 172px; }

body > main > h3:nth-child(2) > div > div:nth-child(9) > div > p {
  display: inline-block;
  margin-left: 45px;
  color: #76C238;
  font-weight: 300; }

body > main > h3:nth-child(2) > div > div:nth-child(9) > div > a {
  color: #b2b2b2;
  text-decoration: none;
  font-size: 14px; }

body > main > h3:nth-child(2) > div > div:nth-child(10) {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 225px;
  line-height: 0px;
  font-size: 15px;
  background-color: white;
  margin-right: 15px;
  margin-bottom: 15px; }
  body > main > h3:nth-child(2) > div > div:nth-child(10) img {
    width: 225px;
    height: 172px; }

body > main > h3:nth-child(2) > div > div:nth-child(10) > div > p {
  display: inline-block;
  margin-left: 45px;
  color: #76C238;
  font-weight: 300; }

body > main > h3:nth-child(2) > div > div:nth-child(10) > div > a {
  color: #b2b2b2;
  text-decoration: none;
  font-size: 14px; }

body > main > h3:nth-child(2) > div > div:nth-child(11) {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 225px;
  line-height: 0px;
  font-size: 15px;
  background-color: white;
  margin-right: 15px;
  margin-bottom: 15px; }
  body > main > h3:nth-child(2) > div > div:nth-child(11) img {
    width: 225px;
    height: 172px; }

body > main > h3:nth-child(2) > div > div:nth-child(11) > div > p {
  display: inline-block;
  margin-left: 45px;
  color: #76C238;
  font-weight: 300; }

body > main > h3:nth-child(2) > div > div:nth-child(11) > div > a {
  color: #b2b2b2;
  text-decoration: none;
  font-size: 14px; }

body > main > h3:nth-child(2) > div > div:nth-child(12) {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 225px;
  line-height: 0px;
  font-size: 15px;
  background-color: white;
  margin-right: 15px;
  margin-bottom: 15px; }
  body > main > h3:nth-child(2) > div > div:nth-child(12) img {
    width: 225px;
    height: 172px; }

body > main > h3:nth-child(2) > div > div:nth-child(12) > div > p {
  display: inline-block;
  margin-left: 45px;
  color: #76C238;
  font-weight: 300; }

body > main > h3:nth-child(2) > div > div:nth-child(12) > div > a {
  color: #b2b2b2;
  text-decoration: none;
  font-size: 14px; }

body > main > h3:nth-child(2) > div > div:nth-child(13) {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 225px;
  line-height: 0px;
  font-size: 15px;
  background-color: white;
  margin-right: 15px;
  margin-bottom: 15px; }
  body > main > h3:nth-child(2) > div > div:nth-child(13) img {
    width: 225px;
    height: 172px; }

body > main > h3:nth-child(2) > div > div:nth-child(13) > div > p {
  display: inline-block;
  margin-left: 45px;
  color: #76C238;
  font-weight: 300; }

body > main > h3:nth-child(2) > div > div:nth-child(13) > div > a {
  color: #b2b2b2;
  text-decoration: none;
  font-size: 14px; }

body > main > h3:nth-child(2) > div > div:nth-child(14) {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 225px;
  line-height: 0px;
  font-size: 15px;
  background-color: white;
  margin-right: 15px;
  margin-bottom: 15px; }
  body > main > h3:nth-child(2) > div > div:nth-child(14) img {
    width: 225px;
    height: 172px; }

body > main > h3:nth-child(2) > div > div:nth-child(14) > div > p {
  display: inline-block;
  margin-left: 45px;
  color: #76C238;
  font-weight: 300; }

body > main > h3:nth-child(2) > div > div:nth-child(14) > div > a {
  color: #b2b2b2;
  text-decoration: none;
  font-size: 14px; }

body > main > h3:nth-child(2) > div > div:nth-child(15) {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 225px;
  line-height: 0px;
  font-size: 15px;
  background-color: white;
  margin-right: 15px;
  margin-bottom: 15px; }
  body > main > h3:nth-child(2) > div > div:nth-child(15) img {
    width: 225px;
    height: 172px; }

body > main > h3:nth-child(2) > div > div:nth-child(15) > div > p {
  display: inline-block;
  margin-left: 45px;
  color: #76C238;
  font-weight: 300; }

body > main > h3:nth-child(2) > div > div:nth-child(15) > div > a {
  color: #b2b2b2;
  text-decoration: none;
  font-size: 14px; }

body > main > h3:nth-child(2) > div > div:nth-child(16) {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 225px;
  line-height: 0px;
  font-size: 15px;
  background-color: white;
  margin-right: 15px;
  margin-bottom: 15px; }
  body > main > h3:nth-child(2) > div > div:nth-child(16) img {
    width: 225px;
    height: 172px; }

body > main > h3:nth-child(2) > div > div:nth-child(16) > div > p {
  display: inline-block;
  margin-left: 45px;
  color: #76C238;
  font-weight: 300; }

body > main > h3:nth-child(2) > div > div:nth-child(16) > div > a {
  color: #b2b2b2;
  text-decoration: none;
  font-size: 14px; }

body > main > h3:nth-child(2) > div > div:nth-child(17) {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 225px;
  line-height: 0px;
  font-size: 15px;
  background-color: white;
  margin-right: 15px;
  margin-bottom: 15px; }
  body > main > h3:nth-child(2) > div > div:nth-child(17) img {
    width: 225px;
    height: 172px; }

body > main > h3:nth-child(2) > div > div:nth-child(17) > div > p {
  display: inline-block;
  margin-left: 45px;
  color: #76C238;
  font-weight: 300; }

body > main > h3:nth-child(2) > div > div:nth-child(17) > div > a {
  color: #b2b2b2;
  text-decoration: none;
  font-size: 14px; }

body > main > h3:nth-child(2) > div > div:nth-child(18) {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 225px;
  line-height: 0px;
  font-size: 15px;
  background-color: white;
  margin-right: 15px;
  margin-bottom: 15px; }
  body > main > h3:nth-child(2) > div > div:nth-child(18) img {
    width: 225px;
    height: 172px; }

body > main > h3:nth-child(2) > div > div:nth-child(18) > div > p {
  display: inline-block;
  margin-left: 45px;
  color: #76C238;
  font-weight: 300; }

body > main > h3:nth-child(2) > div > div:nth-child(18) > div > a {
  color: #b2b2b2;
  text-decoration: none;
  font-size: 14px; }

body > main > h3:nth-child(2) > div > div:nth-child(19) {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 225px;
  line-height: 0px;
  font-size: 15px;
  background-color: white;
  margin-right: 15px;
  margin-bottom: 15px; }
  body > main > h3:nth-child(2) > div > div:nth-child(19) img {
    width: 225px;
    height: 172px; }

body > main > h3:nth-child(2) > div > div:nth-child(19) > div > p {
  display: inline-block;
  margin-left: 45px;
  color: #76C238;
  font-weight: 300; }

body > main > h3:nth-child(2) > div > div:nth-child(19) > div > a {
  color: #b2b2b2;
  text-decoration: none;
  font-size: 14px; }

body > main > h3:nth-child(2) > div > div:nth-child(20) {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 225px;
  line-height: 0px;
  font-size: 15px;
  background-color: white;
  margin-right: 15px;
  margin-bottom: 15px; }
  body > main > h3:nth-child(2) > div > div:nth-child(20) img {
    width: 225px;
    height: 172px; }

body > main > h3:nth-child(2) > div > div:nth-child(20) > div > p {
  display: inline-block;
  margin-left: 45px;
  color: #76C238;
  font-weight: 300; }

body > main > h3:nth-child(2) > div > div:nth-child(20) > div > a {
  color: #b2b2b2;
  text-decoration: none;
  font-size: 14px; }

body > main > h3:nth-child(2) > div > div:nth-child(21) {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 225px;
  line-height: 0px;
  font-size: 15px;
  background-color: white;
  margin-right: 15px;
  margin-bottom: 15px; }
  body > main > h3:nth-child(2) > div > div:nth-child(21) img {
    width: 225px;
    height: 172px; }

body > main > h3:nth-child(2) > div > div:nth-child(21) > div > p {
  display: inline-block;
  margin-left: 45px;
  color: #76C238;
  font-weight: 300; }

body > main > h3:nth-child(2) > div > div:nth-child(21) > div > a {
  color: #b2b2b2;
  text-decoration: none;
  font-size: 14px; }

body > main > h3:nth-child(2) > div > div:nth-child(22) {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 225px;
  line-height: 0px;
  font-size: 15px;
  background-color: white;
  margin-right: 15px;
  margin-bottom: 15px; }
  body > main > h3:nth-child(2) > div > div:nth-child(22) img {
    width: 225px;
    height: 172px; }

body > main > h3:nth-child(2) > div > div:nth-child(22) > div > p {
  display: inline-block;
  margin-left: 45px;
  color: #76C238;
  font-weight: 300; }

body > main > h3:nth-child(2) > div > div:nth-child(22) > div > a {
  color: #b2b2b2;
  text-decoration: none;
  font-size: 14px; }

body > main > h3:nth-child(2) > div > div:nth-child(23) {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 225px;
  line-height: 0px;
  font-size: 15px;
  background-color: white;
  margin-right: 15px;
  margin-bottom: 15px; }
  body > main > h3:nth-child(2) > div > div:nth-child(23) img {
    width: 225px;
    height: 172px; }

body > main > h3:nth-child(2) > div > div:nth-child(23) > div > p {
  display: inline-block;
  margin-left: 45px;
  color: #76C238;
  font-weight: 300; }

body > main > h3:nth-child(2) > div > div:nth-child(23) > div > a {
  color: #b2b2b2;
  text-decoration: none;
  font-size: 14px; }

body > main > h3:nth-child(2) > div > div:nth-child(24) {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 225px;
  line-height: 0px;
  font-size: 15px;
  background-color: white;
  margin-right: 15px;
  margin-bottom: 15px; }
  body > main > h3:nth-child(2) > div > div:nth-child(24) img {
    width: 225px;
    height: 172px; }

body > main > h3:nth-child(2) > div > div:nth-child(24) > div > p {
  display: inline-block;
  margin-left: 45px;
  color: #76C238;
  font-weight: 300; }

body > main > h3:nth-child(2) > div > div:nth-child(24) > div > a {
  color: #b2b2b2;
  text-decoration: none;
  font-size: 14px; }

body > main > h3:nth-child(2) > div > div:nth-child(25) {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 225px;
  line-height: 0px;
  font-size: 15px;
  background-color: white;
  margin-right: 15px;
  margin-bottom: 15px; }
  body > main > h3:nth-child(2) > div > div:nth-child(25) img {
    width: 225px;
    height: 172px; }

body > main > h3:nth-child(2) > div > div:nth-child(25) > div > p {
  display: inline-block;
  margin-left: 45px;
  color: #76C238;
  font-weight: 300; }

body > main > h3:nth-child(2) > div > div:nth-child(25) > div > a {
  color: #b2b2b2;
  text-decoration: none;
  font-size: 14px; }

footer {
  position: relative;
  background-color: #F5F5F1;
  overflow: auto;
  width: 100%;
  margin: 0 0 0 0; }

body > footer > div.related > h5 {
  text-align: justify;
  margin-left: 262px;
  font-size: 14px;
  font-family: "Arial"; }

body > footer > div.related > ul {
  margin-left: 184px; }

body > footer > div.related > ul > ul:nth-child(1) > a {
  font-family: "Arial";
  font-size: 14px;
  color: #51A6C1;
  text-decoration: none; }

body > footer > div.related > ul > ul:nth-child(2) > a {
  font-family: "Arial";
  font-size: 14px;
  color: #51A6C1;
  text-decoration: none; }

body > footer > div.related > ul > ul:nth-child(3) > a {
  font-family: "Arial";
  font-size: 14px;
  color: #51A6C1;
  text-decoration: none; }

body > footer > div.related > ul > ul:nth-child(4) > a {
  font-family: "Arial";
  font-size: 14px;
  color: #51A6C1;
  text-decoration: none; }

body > footer > div.related > ul > ul:nth-child(5) > a {
  font-family: "Arial";
  font-size: 14px;
  color: #51A6C1;
  text-decoration: none; }

body > footer > div.related > ul > ul:nth-child(6) > a {
  font-family: "Arial";
  font-size: 14px;
  color: #51A6C1;
  text-decoration: none; }

body > footer > div.related > ul > ul:nth-child(7) > a {
  font-family: "Arial";
  font-size: 14px;
  color: #51A6C1;
  text-decoration: none; }

body > footer > div.related > ul > ul:nth-child(8) > a {
  font-family: "Arial";
  font-size: 14px;
  color: #51A6C1;
  text-decoration: none; }

body > footer > div.related > ul > ul:nth-child(9) > a {
  font-family: "Arial";
  font-size: 14px;
  color: #51A6C1;
  text-decoration: none; }

body > footer > div.related > ul > ul:nth-child(10) > a {
  font-family: "Arial";
  font-size: 14px;
  color: #51A6C1;
  text-decoration: none; }

body > footer > div.looking > h6 {
  text-align: justify;
  margin-left: 262px;
  font-size: 12px;
  font-family: "Arial"; }

body > footer > div.looking > h6 > a:nth-child(1) {
  font-family: "Arial";
  font-size: 12px;
  color: #51A6C1;
  text-decoration: none; }

body > footer > div.looking > h6 > a:nth-child(2) {
  font-family: "Arial";
  font-size: 12px;
  color: #51A6C1;
  text-decoration: none; }

body > footer > div.looking > h6 > a:nth-child(3) {
  font-family: "Arial";
  font-size: 12px;
  color: #51A6C1;
  text-decoration: none; }

body > footer > div.looking > h6 > a:nth-child(4) {
  font-family: "Arial";
  font-size: 12px;
  color: #51A6C1;
  text-decoration: none; }

body > footer > div.pages {
  margin-left: 500px; }

body > footer > div.pages > button:nth-child(1) {
  display: inline-block;
  margin-top: 17px;
  width: 29px;
  height: 27px;
  padding: 2px;
  text-align: center;
  border: 1px solid black;
  font-size: 16px; }

body > footer > div.pages > button:nth-child(2) {
  display: inline-block;
  margin-top: 17px;
  width: 29px;
  background-color: #F5F5F1;
  height: 27px;
  padding: 2px;
  text-align: center;
  border: 1px solid black;
  font-size: 16px; }

body > footer > div.pages > button:nth-child(3) {
  display: inline-block;
  margin-top: 17px;
  width: 29px;
  background-color: #F5F5F1;
  height: 27px;
  padding: 2px;
  text-align: center;
  border: 1px solid black;
  font-size: 16px; }

body > footer > div.pages > button:nth-child(4) {
  display: inline-block;
  margin-top: 17px;
  width: 29px;
  background-color: #F5F5F1;
  height: 27px;
  padding: 2px;
  text-align: center;
  border: 1px solid black;
  font-size: 16px; }

body > footer > div.pages > button:nth-child(5) {
  display: inline-block;
  margin-top: 17px;
  width: 29px;
  background-color: #F5F5F1;
  height: 27px;
  padding: 2px;
  text-align: center;
  border: 1px solid black;
  font-size: 16px; }

body > footer > div.pages > button:nth-child(6) {
  display: inline-block;
  margin-top: 17px;
  width: 29px;
  background-color: #F5F5F1;
  height: 27px;
  padding: 2px;
  text-align: center;
  border: 1px solid black;
  font-size: 16px; }

body > footer > div.pages > button:nth-child(7) {
  display: inline-block;
  margin-top: 17px;
  width: 29px;
  height: 27px;
  padding: 2px;
  text-align: center;
  border: 1px solid black;
  font-size: 16px; }

body > footer > div.subscribe > h6 {
  text-align: justify;
  margin-left: 262px;
  font-size: 14px;
  font-family: "Arial"; }

body > footer > div.subscribe > h6 > form > input[type="email"]:nth-child(1) {
  display: inline-block;
  margin-top: 17px;
  width: 355px;
  background-color: white;
  height: 27px;
  padding: 2px;
  text-align: center;
  border: 1px solid black;
  font-size: 16px; }

body > footer > div.subscribe > h6 > form > input[type="button"]:nth-child(2) {
  display: inline-block;
  margin-top: 17px;
  width: 127px;
  background-color: white;
  height: 33px;
  padding: 2px;
  text-align: center;
  border: 1px solid black;
  font-size: 16px; }

body > footer > div.colums {
  margin-left: 76px; }

body > footer > div.right > ul > ul:nth-child(1) > a {
  margin-left: 1000px; }

body > footer > div.right > ul > ul:nth-child(2) > a {
  margin-left: 1000px; }

body > footer > div.right > ul > ul:nth-child(3) > a {
  margin-left: 1000px; }

body > footer > div.right > ul > ul:nth-child(4) > a {
  margin-left: 1000px; }

body > footer > div.bottom > button:nth-child(1) {
  margin-left: 316px;
  display: inline-block;
  margin-top: 17px;
  width: 127px;
  color: gray;
  background-color: #F5F5F1;
  height: 33px;
  padding: 2px;
  text-align: center;
  border: 1px solid black;
  font-size: 16px; }

body > footer > div.bottom > button:nth-child(2) {
  display: inline-block;
  margin-top: 17px;
  width: 127px;
  color: gray;
  background-color: #F5F5F1;
  height: 33px;
  padding: 2px;
  text-align: center;
  border: 1px solid black;
  font-size: 16px; }

body > footer > div.bottom > button:nth-child(3) {
  display: inline-block;
  margin-top: 17px;
  width: 127px;
  color: gray;
  background-color: #F5F5F1;
  height: 33px;
  padding: 2px;
  text-align: center;
  border: 1px solid black;
  font-size: 16px; }

body > footer > div.bottom > button:nth-child(4) {
  display: inline-block;
  margin-top: 17px;
  width: 127px;
  color: gray;
  background-color: #F5F5F1;
  height: 33px;
  padding: 2px;
  text-align: center;
  border: 1px solid black;
  font-size: 16px; }

body > footer > div.colums {
  margin-left: 15px;
  display: flex; }

body > footer > div.colums > div.left {
  margin-left: 174px; }

body > footer > div.colums > div.left > button {
  display: inline-block;
  margin-top: 17px;
  width: 106px;
  background-color: #51A6C1;
  height: 27px;
  padding: 2px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px; }

body > footer > div.colums > div.left > ul > ul:nth-child(1) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none;
  margin: -80px; }

body > footer > div.colums > div.left > ul > ul:nth-child(2) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none;
  margin: -80px; }

body > footer > div.colums > div.left > ul > ul:nth-child(3) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none;
  margin: -80px; }

body > footer > div.colums > div.leftcenter {
  margin: 0; }

body > footer > div.colums > div.leftcenter > h5 {
  margin-left: 36px; }

body > footer > div.colums > div.leftcenter > ul > ul:nth-child(1) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none;
  margin: -45px; }

body > footer > div.colums > div.leftcenter > ul > ul:nth-child(2) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none;
  margin: -45px; }

body > footer > div.colums > div.leftcenter > ul > ul:nth-child(3) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none;
  margin: -45px; }

body > footer > div.colums > div.leftcenter > ul > ul:nth-child(4) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none;
  margin: -45px; }

body > footer > div.colums > div.center {
  margin-left: 40px; }

body > footer > div.colums > div.center > ul > ul:nth-child(1) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none;
  margin: -78px; }

body > footer > div.colums > div.center > ul > ul:nth-child(2) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none;
  margin: -78px; }

body > footer > div.colums > div.center > ul > ul:nth-child(3) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none;
  margin: -78px; }

body > footer > div.colums > div.center > ul > ul:nth-child(4) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none;
  margin: -78px; }

body > footer > div.colums > div.center > ul > ul:nth-child(5) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none;
  margin: -78px; }

body > footer > div.colums > div.center > ul > ul:nth-child(6) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none;
  margin: -78px; }

body > footer > div.colums > div.center > ul > ul:nth-child(7) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none;
  margin: -78px; }

body > footer > div.colums > div.center > ul > ul:nth-child(8) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none;
  margin: -78px; }

body > footer > div.colums > div.rightcenter {
  margin-left: 16px; }

body > footer > div.colums > div.rightcenter > ul > ul:nth-child(1) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none;
  margin: -78px; }

body > footer > div.colums > div.rightcenter > ul > ul:nth-child(2) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none;
  margin: -78px; }

body > footer > div.colums > div.rightcenter > ul > ul:nth-child(3) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none;
  margin: -78px; }

body > footer > div.colums > div.rightcenter > ul > ul:nth-child(4) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none;
  margin: -78px; }

body > footer > div.colums > div.rightcenter > ul > ul:nth-child(5) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none;
  margin: -78px; }

body > footer > div.colums > div.right {
  margin-left: 59px; }

body > footer > div.colums > div.right > ul > ul:nth-child(1) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none;
  margin: -80px; }

body > footer > div.colums > div.right > ul > ul:nth-child(2) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none;
  margin: -80px; }

body > footer > div.colums > div.right > ul > ul:nth-child(3) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none;
  margin: -80px; }

body > footer > div.colums > div.right > ul > ul:nth-child(4) > a {
  color: #51A6C1;
  font-family: "Arial";
  font-size: 14px;
  text-decoration: none;
  margin: -80px; }

body > footer > div.bottom-legal {
  text-align: justify;
  margin-left: 388px;
  font-family: "Arial";
  display: inline-block;
  font-size: 18px;
  color: gray;
  text-decoration: none; }

body > footer > div.bottom-legal > h6 > a:nth-child(1) {
  font-size: 18px;
  color: gray;
  text-decoration: none;
  font-size: 14px;
  font-family: "Arial"; }

body > footer > div.bottom-legal > h6 > a:nth-child(2) {
  font-size: 18px;
  color: gray;
  text-decoration: none;
  font-size: 14px;
  font-family: "Arial"; }

body > footer > div.bottom-legal > h6 > a:nth-child(3) {
  font-size: 18px;
  color: gray;
  text-decoration: none;
  font-size: 14px;
  font-family: "Arial"; }

body > footer > div.bottom-legal > h6 > a:nth-child(4) {
  font-size: 18px;
  color: gray;
  text-decoration: none;
  font-size: 14px;
  font-family: "Arial"; }
