// Buttons

.btn {
  display: block;
  color: gray;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #E5E5E5;

  text-decoration: none;
}
